.Top-banner {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to bottom right, var(--md-sys-color-surface-container), var(--md-sys-color-secondary-container),var(--md-sys-color-primary-container), var(--md-sys-color-tertiary));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.Top-banner-links {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: 120px;
  background-color: var(--md-sys-color-secondary-container);
  overflow: hidden;
}

.top-banner-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 33.33%;
  height: 100%;
  color: var(--md-sys-color-on-tertiary);
  cursor: pointer;
}

.banner-title {
  @media screen and (max-width: 1200px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 730px) {
    display: none;
  }
}

.banner-subtitle {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.Homepage {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: var(--md-sys-color-surface-container);
  text-align: center;
}