.ClassCard-container {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 12px 12px 20px 20px;
    padding: 0 0 16px 0;
    margin: 12px 8px;
}

.ClassCard-header {
    display: flex;
    align-items: center;
    color: whitesmoke;
    background-color: var(--bloomboard-primary);
    padding: 16px 12px;
    font-weight: bold;
    border-radius: 12px 12px 0 0;
}

.ClassCard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 660px) {
        display: block;
    }
}

.ClassCard-assignment-row {
    display: flex;
    align-items: center;
}

.ClassCard-avg {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    padding: 6px 0;
    border-radius: 16px;
}

h1 {
    margin: 0;
    padding: 0 8px;
}