.ClassCard-container {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 12px 12px 20px 20px;
    padding: 0 0 16px 0;
    margin: 12px 8px;
}

.ClassCard-header {
    display: flex;
    align-items: center;
    color: whitesmoke;
    background-color: var(--bloomboard-primary);
    padding: 16px 12px;
    font-weight: bold;
    border-radius: 12px 12px 0 0;
}

.BBDashboard {
    overflow: hidden;
}

.BBDashboard-body {
    display: grid;
    height: calc(100vh - 90px);
    grid-template-columns: 30% 70%;
    overflow: hidden;
}

.BBDashboard-body>menu {
    background-color: var(--md-sys-color-surface);
    margin: 0;
    padding: 0 20px;
    height: calc(100vh - 90px);
    overflow: scroll;
}

.BBDashboard-body>iframe {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.ClassCard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 660px) {
        display: block;
    }
}

.ClassCard-assignment-row {
    display: flex;
    align-items: center;
}

.ClassCard-avg {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    padding: 6px 0;
    border-radius: 16px;
}

.ClassCard-viewAll {
    display: block;
}

h1 {
    margin: 0;
    padding: 0 8px;
}

.MenuClassCard-btn {
    display: block;
    border: none;
    background-color: transparent;
    width: 100%;
}

.MenuClassCard {
    margin: 8px;
    padding: 4px 12px;
    background-color: var(--md-sys-color-surface-container-lowest);
    border-radius: 16px;
}

.MenuClassCard.selected {
    background-color: var(--bloomboard-primary);
}

.MenuClassCard:hover {
    box-shadow: var(--box-shadow-1);
}