.Article-body-frame {
    background-color: var(--md-sys-color-surface-container-highest);
    min-height: calc(100vh - 290);
    padding: 8px 0;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.App-overview-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid var(--md-sys-color-outline);
    padding: 8px;
    border-radius: 8px;
    background-color: var(--md-sys-color-surface-container-low);
}

.Article-body-frame td {
    font-size: 1.25rem;
    padding: 8px 0;
}

.Article-table-data {
    font-weight: bold;
    text-align: right;
    width: 50%;
}
.Article-table-title {
    text-align: start;
    width: 50%;
}