.BBDetail-top {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BBDetail-grade-summary {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    position:relative;
    width: 100%;
    overflow-x: hidden;
}

.BBDetail-grade-summary>div {
    position:relative;
    place-self: center;
}

.BBDetail-grade-summary>div>h2, .BBDetail-grade-summary>div>h1 {
    margin: 0;
}

.BBDetail-body {
    background-color: var(--md-sys-color-surface-container);
    margin: 8px 16px;
    border-radius: 20px;
}

.BBDetail-body-header {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    background-color: var(--bloomboard-primary);
    color: var(--bloomboard-on-primary);
    border-radius: 20px;
    width: 100%;
}

.BBDetail-body-calc {
    background-color: var(--bloomboard-secondary-container);
    margin: 8px 12px;
    border-radius: 16px;
    padding: 8px 12px;
    display: flex;
    width: 95%;
    justify-self: center;
    align-items: center;
    gap: 12px;
}

.BB-row {
    margin: 4px 20px;
}

.BB-row-content {
    padding: 8px 4px;
    width: 100%;
    font-size: large;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;

    @media (max-width: 1060px) {
        grid-template-columns: 40% 0% 30% 30%;
        grid-column: 2;
    }
}

.BB-row-content.Prediction-cell {
    grid-template-columns: 33% 20% 20% 20% 7%;
    visibility: visible;
}

.BBDetail-row-score {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.flex-justify-right {
    display: flex;
    width: 100%;
    justify-content: right;
}

.BBCalcDialog {
    border: none;
    outline: none !important;
    width: 60vw;
    max-width: 770px;
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 16px;
    padding: 16px 24px;
}

.BBCalcDialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 16px;
}

dialog {
    border: none !important;
    outline: none !important;
    margin: 20% 0;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    background-color: transparent;
}

dialog[open]::backdrop {
    animation: blur-in 1s forwards;
}

html:has(dialog[open]) {
    overflow: hidden;
}

.BBCalcDialog>form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    font-size: large;
}

.BBCalcDialog>form>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.BBCalcDialog>form>header>h2 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.BBCalcDialog>form>header>button {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    padding: 2px;
    aspect-ratio: 1;
    flex-shrink: 0;
    place-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.BBCalcDialog>form>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.BBCalcDialog>form>div>div>select {
    padding: 4px 12px;
    font-size: large;
    width: 100%;
}

.BBCalcDialog>form>div>div>h4 {
    width: 30%;
}

.BBCalcDialog>form>div>div>input {
    padding: 4px 12px;
    font-size: large;
    width: 100%;
}

.BBCalcDialog>form>footer {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

.BBCalcDialog>form>footer>button{
    padding: 4px 12px;
    font-size: large;
    background-color: var(--md-sys-color-surface-container-lowest);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}

.BBCalcDialog>form>footer>button:nth-child(1) {
    color: var(--md-sys-color-error);
}

.BBCalcDialog>form>footer>button:nth-child(2) {
    color: var(--bloomboard-primary);
}

@keyframes blur-in {
    from {
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(4px);
    }
}


.BBDetail-dialog-input {
    font-size: 1rem;
    border-radius: 32px;
    border: solid gray 2px;
    padding: 8px 16px;
    margin: 8px 0;
}

p {
    margin: 12px 0
}