.BBDetail-top {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BBDetail-score-board {
    display: flex;
    width: 100%;
}

.BBDetail-score-spot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.BBDetail-score-spot.category {
    width: 20%;
}

.BBDetail-score-spot.total {
    width: 60%;
}

.BBDetail-body {
    background-color: var(--md-sys-color-surface-container);
    margin: 8px 16px;
    border-radius: 20px;
}

.BBDetail-body-header {
    display: flex;
    flex-direction: row;
    background-color: var(--bloomboard-primary);
    color: var(--bloomboard-on-primary);
    border-radius: 20px;
    padding: 0 20px;
}   

.BBDetail-body-calc {
    background-color: var(--bloomboard-secondary-container);
    margin: 8px 12px;
    border-radius: 16px;
    padding: 8px 12px;
    display: flex;
    width: 95%;
    justify-self: center;
    align-items: center;
    gap: 12px;
}

.BB-row {
    display: flex;
    flex-direction: column;
    margin: 4px 20px;
}

.BB-row-content {
    padding: 8px 4px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: large;
}

.BBDetail-row-score {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.flex-justify-right {
    display: flex;
    width: 100%;
    justify-content: right;
}

.BBCalcDialog {
    border: none;
    outline: none !important;
    width: 60vw;
    background-color: var(--md-sys-color-surface-container-highest);
    border-radius: 16px;
    padding: 16px 24px;
}

.BBCalcDialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 16px;
}

dialog {
    border: none !important;
    outline: none !important;
    margin: 20% 0;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    background-color: transparent;
}

.BBDetail-dialog-select {
    width: 50%;
    font-size: 0.8rem;
    border-radius: 12px;
    padding: 8px 12px;
}

.BBDetail-dialog-input {
    font-size: 1rem;
    border-radius: 32px;
    border: solid gray 2px;
    padding: 8px 16px;
    margin: 8px 0;
}

.BBDetail-dialog-submit {
    font-size: 1rem;
    border-radius: 16px;
    padding: 8px;
    border: none;
    background-color: var(--bloomboard-primary);
    color: var(--bloomboard-on-primary);
    margin: 12px 0;
    width: 40%;
}

p {
    margin: 12px 0
}