* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.Apps {
  box-sizing: border-box;
}

.stick-header {
  position: sticky;
  overflow: visible;
  height: 90px;
  top: 0;
  z-index: 100;
}

.Stick-header {
  position: sticky;
  overflow: visible;
  height: 90px;
  top: 0;
  z-index: 100;
}

.Page-subject {
  font-size: 8rem;
  letter-spacing: 4px;
  transform: scale(1.6, 1);
  overflow-y: hidden;
}

/** Margin / Padding **/
.no-margin {
  margin: 0;
}

.padding-16 {
  padding: 16px;
}

.padding-8 {
  padding: 8px
}

.padding-horizontal-16 {
  padding: 0 16px
}

.margin-0 {
  margin: 0;
}

.margin-8 {
  margin: 8px;
}

.Article-paragraph {
  text-indent: 25px;
}

/** width / height **/
.min-height-100vh {
  min-height: 100vh;
}

.width-50-percent {
  width: 50%;
}

.width-100-percent {
  width: 100%;
}


/** Text **/
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: start;
}

.text-align-right{
  text-align: right;
}

.text-decoration-none {
  text-decoration: none;
}


/** Display **/
.display-block {
  display: block;
}

/** Float **/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/** Cursor **/
.cursor-pointer {
  cursor: pointer;
}


/** Color **/
.container-color-primary {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.container-color-tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

.container-color-secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.container-color-surface {
  background-color: var(--md-sys-color-surface-container);
}

.container-color-secondary-container {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.white {
  color: white;
}


/** Font **/
.jetbrains-mono-600 {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}


.noto-sans-500 {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}